.target{
    width: 100%;
    height: 60px;
    background: silver;
   }
@media screen and (min-width: 0)and (min-width: 700px){
    .target{
        height: 100px;
        background: cornflowerblue;
    }
    @media screen and (min-width: 700px)and (min-width: 900px) {
        .target {
            height: 200px;
            background: lightpink;
        }
    }
}

