body{
    margin: 0;
    padding: 0;
}
.container{
    width: 600px;
    height: 300px;
    background-color: #10247b;
    display: flex;
    flex-wrap: wrap;
}
.block__a{
    width: 100%;
    height: 50%;
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block__main{
    width: 70%;
    height: 50%;
    background-color: silver;
    display: flex;
    flex-wrap: wrap;
}
.block__f{
    width: 30%;
    height: 50%;
    background-color: #c63ac0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block__b{
    width: 100%;
    height: 50%;
    background-color: crimson;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block__c,.block__d,.block__e{
    width: 33.333%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block__c{
    background-color: #00ff04;
}
.block__d{
    background-color: aqua;
}
.block__e{
    background-color: darkorange;
}

