body {
    margin: 0;
    padding: 0;
}
.container {
    width: 600px;
    height: 100vh;
    display: flex;
    flex-direction:column ;
    justify-content: space-between;

}
.widgets {
    width: 100%;
    height: 30%;
    background: cadetblue;
}
.main {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
}
.contacts {
    width: 100%;
    height: 45%;
    background: #b6a50d;
}
.widgets, .block, .contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: aliceblue;
}
.block {
    width: 30%;
    height: 100%;
}
.bg-red {
    background: red;
}
.bg-blue {
    background: blue;
}
.bg-green {
    background: green;
}
